{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}"/>

<div class="home">
    <div class="title">
        <h1>Modifier Compétence</h1>
    </div>
    <div class="formulaire">
    <form method="POST" action="/Admin/Comp/{{comp.id}}">
    	{{ form.hidden_tag() }}
        <div class="form-group">
            <label for="name">{{ form.nom_comp.label }}</label>
            {{ form.nom_comp() }}
        </div>
        <div class="form-group register-land">
            <input type="submit" value="Modifier" id="EditComp" class="register-btn">
        </div>
    </form>
    </div>
</div>
{% endblock %}