{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}"/>
<div class="home">
    <div class="title">
        <h1>Modifier une Entreprise</h1>
    </div>
    <div class="formulaire">
    <form method="POST" action="/Admin/Ent/{{ent.idEnt}}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="name">{{form.name.label}}</label>
            {{ form.name() }}
        </div>
        <div class="form-group">
            <label for="name">{{ form.adresse.label }}</label>
            {{ form.adresse() }}
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="num_siren">{{ form.telephone.label }}</label>
                {{ form.telephone() }}
            </div>
            <div class="form-group col-md-6">
                <label for="num_siren">{{ form.num_siret.label }}</label>
                {{ form.num_siret() }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="code_ape">{{ form.code_ape.label }}</label>
                {{ form.code_ape() }}
            </div>
            <div class="form-group col-md-6">
                <label for="effectifs">{{ form.effectifs.label }}</label>
                {{ form.effectifs() }}
            </div>
        </div>
        <div class="form-group">
            <label for="desc">{{ form.desc.label }}</label>
            {{form.desc(class="form-control")}}
            <!-- <textarea id={{form.desc.id}} class="form-control">{{ent.desc}}</textarea> -->
        </div>
        <div class="form-group register-land">
            <input type="submit" value="Modifier" id="UpdateEnt" class="register-btn">
        </div>
    </form>
    </div>
</div>
{% endblock %}