{% extends "bootstrap/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
{% endblock %}

{% block navbar %}
<nav class="nav-bar">
    <a class="navbar-logo"><img src="/static/img/logo_propre.png" width="40" height="40" class="imgAccueil">Stage-Inder</a>
    <div class="navbar-toggler">
      <i class="fas fa-bars"></i>
    </div>
    <div class="navigation-all">
      <div class="navigation-list">
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/Stages">Entreprises</a></li>
          {% if isAdmin %}
          <li><a href="/Admin">Admin</a></li>
          {% endif %}
        </ul>
      </div>
        {% if isLogged -%}
        <p><a href="/Profil" role="button" class="nav-login-btn">Profil</a></p>
        {% else -%}
        <p><a href="/Connexion" role="button" class="nav-login-btn">Connexion</a></p>
        {% endif %}
    </div>
</nav>

<script>
  const toggleButton = document.getElementsByClassName('navbar-toggler')[0]
  const navbarLinks = document.getElementsByClassName('navigation-all')[0]
  const navbar = document.getElementsByClassName('nav-bar')[0]

  toggleButton.addEventListener('click', () => {
    navbarLinks.classList.toggle('active')
    navbar.classList.toggle('active')
  })
</script>
{% endblock %}

{% block content %}
  <main id="main" role="main">
    {% block main %}
    {% endblock %}
  </main>

  <footer>
      <div class="list-items">
          <li class="item"><a href="">Accueil</a></li>
          <li class="item"><a href="">Contact</a></li>
          <li class="item"><a href="">Informations</a></li>
      </div>
      <div class="copyright">
          <p>© Copyright - 2021</p>
      </div>
  </footer>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}
