{% extends "base.html" %}
{% block main %}

<link rel="stylesheet" href="../static/css/history.css">

<div class="history-main">
    <h1 class="history-title">Historique</h1>

    <div class="toggle-content">
        <ul class="tabs">
            <li class="tab active"><a data-switcher data-tab="1">Entreprises aimées</a></li>
            <li class="tab"><a data-switcher data-tab="2">Entreprises refusées</a></li>
        </ul>
    </div>

    <div class="pages">
        <div class="page active" data-page="1">
            {% for x in liked_companies %}
            <div class="card-history">
                <div class="company-informations">
                    <p class="company-name">{{ x.nomEnt }}</p>
                    <p class="company-address"><ion-icon name="home-outline"></ion-icon>{{ x.adresse }}</p>
                    <p class="company-employees"><ion-icon name="people-outline"></ion-icon>{{ x.effectifs }} salarié(s)</p>
                    <p class="company-phone"><ion-icon name="call-outline"></ion-icon>{{ x.telephone }}</p>
                    <p class="company-activity"><ion-icon name="business-outline"></ion-icon>Activité</p>
                </div>
                <div class="company-description">
                    {{ x.desc }}
                </div>
                <div class="company-status">
                    <p class="icon-status"><ion-icon name="heart"></ion-icon>Like</p>
                </div>
            </div>
            {% endfor %}
        </div>
    
        <div class="page" data-page="2">
            {% for x in disliked_companies %}
            <div class="card-history">
                <div class="company-informations">
                    <p class="company-name">{{ x.nomEnt }}</p>
                    <p class="company-address"><ion-icon name="home-outline"></ion-icon>{{ x.adresse }}</p>
                    <p class="company-employees"><ion-icon name="people-outline"></ion-icon>{{ x.effectifs }} salarié(s)</p>
                    <p class="company-phone"><ion-icon name="call-outline"></ion-icon>{{ x.telephone }}</p>
                    <p class="company-activity"><ion-icon name="business-outline"></ion-icon>Activité</p>
                </div>
                <div class="company-description">
                    {{ x.desc }}
                </div>
                <div class="company-status">
                    <p class="icon-status"><ion-icon name="close-outline"></ion-icon>Refusée</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    {% macro render_pagination(entreprises) %}
        <ul class="pagination">
            {% for page_num in entreprises.iter_pages() %}
            {% if page_num %}
            <li class="page-item"><a href="{{ url_for('historique', page=page_num) }}" class="page-link">{{ page_num }}</a></li>
            {% else %}
            <a href="{{ request.url }}">Refresh</a>
            {% endif %}
            {% endfor %}
        </ul>
    {% endmacro %}
</div>

<script>
    window.onload = () => {
    const tab_switchers = document.querySelectorAll('[data-switcher]');

    for (let i = 0; i < tab_switchers.length; i++) {
        const tab_switcher = tab_switchers[i];
        const page_id = tab_switcher.dataset.tab;

        tab_switcher.addEventListener('click', () => {
            document.querySelector('.tabs .tab.active').classList.remove('active');
            tab_switcher.parentNode.classList.add('active');

            SwitchPage(page_id);
            });
        }
    }

    function SwitchPage (page_id) {
        console.log(page_id);

        const current_page = document.querySelector('.pages .page.active');
        current_page.classList.remove('active');

        const next_page = document.querySelector(`.pages .page[data-page="${page_id}"]`);
        next_page.classList.add('active');
    }
</script>

{% endblock %}