{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>


    <div class="landing-page">
        <div class="landing-title">
            <h1>Stage-Inder, trouvez le stage de vos rêves.</h1>
        </div>
        <div class="carousel-container">
            <div class="carousel-card active">
                <div class="card-items">
                    <h2>Stage-Inder</h2>
                    <div class="explaination">
                        <p>Avec Stage-Inder, trouvez le stage de vos rêves ! Développé par des étudiants de 2ème année de DUT Informatique à Orléans.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-card">
                <div class="card-items">
                    <h2>Inscription</h2>
                    <div class="explaination">
                        <p>Inscrivez-vous dès maintenant en cliquant ici ! Renseignez les informations demandées et profitez de nos fonctionnalités.</p>
                    </div>
                    <p><a href="/Inscription" role="button" class="card-register">Inscrivez-vous</a></p>
                </div>
            </div>
            <div class="carousel-card">
                <div class="card-items">
                    <h2>Profil</h2>
                    <div class="explaination">
                        <p>Une fois votre compte créé, consultez votre profil et ajouter les compétences qui vous conviennent afin de trouver un stage qui vous correspond.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-card">
                <div class="card-items">
                    <h2>Stages</h2>
                    <div class="explaination">
                        <p>En cliquant sur l'onglet <strong>Entreprises</strong> des entreprises vous seront proposées en fonction de vos compétences. Vous pourrez accepter ou décliner ces offres !</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-buttons">
            <div class="btn-nav left"><ion-icon name="chevron-back-outline" class="icon"></ion-icon></div>
            <div class="btn-nav right"><ion-icon name="chevron-forward-outline" class="icon"></ion-icon></div>
        </div>
    </div>

    <script>
        let img = document.getElementsByClassName("imgAccueil").item(0);
        let source = img.getAttribute("src");
        source = "/static/img/logo_site.jpg";
        img.setAttribute("src", source);
    </script>

    <script src="../static/js/carousel.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
{% endblock %}