<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>

{% extends "base.html" %}
    {% block main %}
        <div class="home">
            <div class="title">
                <h1>{{ title }}</h1>
            </div>
            <div class="formulaire">
                <form method="POST" action="{{ url_for('login') }}">
                    {{ form.hidden_tag() }}
                    <div class="d-flex flex-column justify-content-center mb-2 align-items-center">
                        <div class="form-group col-md-4">
                            <label for="etu_num">{{ form.etu_num.label }}</label>
                            {{ form.etu_num(placeholder="Numéro étudiant") }}
                        </div>
                        <div class="form-group col-md-4">
                            <label for="password">{{ form.password.label }}</label>
                            {{ form.password(placeholder="Mot de passe") }}
                        </div>
                    </div>
                    <div class="form-group login-land">
                        <button type="submit" class="login-btn">Se connecter</button>
                    </div>
                    <div class="buttons">
                        <a href="/" id="accueil">Accueil</a>
                        <p>Pas de compte ?</p>
                        <a href="/Inscription" id="buttons">Inscrivez-vous</a>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}

