<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}"/>

{% extends "base.html" %}
    {% block main %}
        <div class="home">
            <div class="title">
                <h1>{{ title }}</h1>
            </div>
            <div class="settings">
                <section>
                    <h2>Paramètres</h2>
                    <a href="profile" class="nav-link"><p>Afficher le profil</p></a><br>
                    <p>Afficher l'historique</p>
                </section>
            </div>
            <div class="buttons">
                <!-- <a href="{{register}}"><input type="submit" value="Inscription" id="inscription"></a> -->
                <a class="btn btn-lg" href="/" role="button" id="acceuil">Acceuil</a>
            </div>
        </div>
    {% endblock %}
