{% extends "base.html" %}
{% block main %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/stages.css') }}"/>

<section>
  <div class="boxcard">
    <div class="profiles">

      {% for x in entreprises %}
      <div class="profile">
        <div class="profile__name">{{ x.nomEnt }}</div>
        <!-- {% if x.image == None %}
        {% set imageEnt = "https://dynamic.brandcrowd.com/asset/logo/1e81db4b-5cce-43b3-8cf5-dcf5b43f7584/logo-search-grid-1x?v=637344647818000000&text="+x.nomEnt %}
        <div class="profile__image" style="background-image: url({{imageEnt}});"></div>
        {% else -%}
        <div class="profile__image" style="background-image: url({{x.image}});"></div>
        {% endif %} -->
        <div class="profile__image" style="background: linear-gradient(45deg,#ff6036,#F0A202);">
          <b>{{x.nomEnt}}</b>
        </div>
        <div class="profile__infos">
          <div class="profile__description"> 
            <b>Téléphone : </b><br>{{x.telephone}} <br>
            <b>Adresse : </b><br>{{x.adresse}} <br>
            <b>Description : </b><br>{{x.desc}} 
          </div>
        </div>
      </div>
      {% endfor %}
      <a href="/Stages" role="button" class="refresh">Rafraîchir</a>
    </div>

    <div class="bottombar">

      <div class="bottombar__button">
          <button id="decline" class="boutonchoix">
            <ion-icon name="close-outline" class="declineimg"></ion-icon>
          </button>
      </div>

      <div class="bottombar__button">
          <button id="match" class="boutonchoix">
            <ion-icon name="heart" class="matchimg"></ion-icon>
          </button>
      </div>

    </div>

  </div>
</section>

<script src='/static/js/hammer.min.js'></script>
<script src='/static/js/stage.js'></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
 {% endblock %}