.center-text { 
     text-align: center;
}

.scroll-pane{
     /*background-color: red;*/
     padding: 1vh;
     max-height:70.5vh;
     overflow-y:scroll;
     width:100%;
}

.chart-container {
    width: 65%;
    height:65%;
    text-align: center;
}