/*button{
  margin-right: 10px;
}*/

.btn-base:hover{
  background-color: rgba(240, 162, 2, 0.75);
}

.btn-base {
  color: black;
  font-weight: bold;
  background-color: #F0A202;
  border: none;
}

.bg-yellow{
  background-color: rgba(240, 162, 2, 1);
}

.text-yellow{
  color: rgba(240, 162, 2, 1);
}

.bg-red{
  background-color: rgba(146, 20, 12, 1.0);
}

.text-red{
  color: rgba(146, 20, 12, 1.0);
}

.bg-blue{
  background-color: rgba(3, 25, 39, 1.0);
}

.text-blue{
  color: rgba(3, 25, 39, 1.0);
}

.bg-white{
  background-color: rgba(231, 231, 231, 1.0);
}

.text-white{
  background-color: rgba(231, 231, 231, 1.0);
}
/*.title{
  color: #F0A202;
}

.dark:hover{
  background-color:rgba(3, 25, 39, 0.75);
  color: #E7E7E7;
}

.dark {
  color: #E7E7E7;
  background-color: rgba(3, 25, 39, 1.0);
  border-color: rgba(3, 25, 39, 1.0);
}

.blue {
  color: #031927;
  background-color: rgba(146, 20, 12, 1.0);
  border-color: rgba(146, 20, 12, 1.0);
}

.form-inline p a {
  color: black;
}

.form-inline p a:hover {
  color: black;
}

.toggle-dark {
  position: relative;
  width: 50px;
  height: 50px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
}

.toggle-dark.active {
  background: rgb(70, 70, 70);
}

.toggle-dark span {
  width: 40px;
  height: 40px;
  background: rgb(70, 70, 70);
  border-radius: 10px;
  transition: 0.5s;
}

.toggle-dark.active span {
  background: #ffffff;
  transform: rotate(180deg);
}

footer {
  bottom: 0;
  width: 100%;
} */