@import url("W3.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

* {
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

.carousel-item {
    height: 32rem;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

header a {
    margin: 5px;
}

.toggle-dark {
    position: relative;
    width: 50px;
    height: 50px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    margin: 5px;
}

.toggle-dark.active {
    background: rgb(70, 70, 70);
}

.toggle-dark span {
    width: 40px;
    height: 40px;
    background: rgb(70, 70, 70);
    border-radius: 50px;
    transition: 0.5s;
}

.toggle-dark span:nth-child(1) {
    width: 5px;
    background: black;
}

.toggle-dark.active span {
    background: #ffffff;
    transform: rotate(180deg);
}


/* FOOTER */
