@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    background-image: radial-gradient(circle at center,#212529,#031927);
}

.home {
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px rgb(255, 255, 255);
    border-radius: 0px;
    /* background-color: rgba(255, 255, 255, 0); */
    backdrop-filter: blur(20px);
    width: 35%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

/* CHAMPS ET BOUTONS */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: 300;
    color: white;
}

p h2{
    color: rgba(240, 162, 2, 1);
}


label {
    padding: 0;
    margin: 0px;
    font-weight: 300;
    font-size: 15px;
    color: white;
}

.contacts {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    color: white;
}

/* BOUTONS */

#buttons {
    width: 75%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#accueil {
    padding: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    transition: 0.5s;
}

#accueil:hover {
    color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}


#acceuil {
    width: 100%;
    height: 50%;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 500;
    background-color: rgba(240, 162, 2, 1);
    border-color: rgba(240, 162, 2, 1);
    cursor: pointer;
    border: none;
    transition: 0.5s;
}

.buttons #connexion:hover {
    transition: 0.5s;
    background-color: rgba(56, 173, 169, 0.5);
    border-color: rgba(56, 173, 169, 0.5);
}

.buttons #inscription:hover {
    transition: 0.5s;
    background-color: rgba(24, 220, 255, 0.5);
    border-color: rgba(24, 220, 255, 0.5);
}