footer {
    position: absolute;
    background: transparent;
    border: none;
    color: black;
    bottom: 0;
    width: 100%;
    height: 4rem;
    backdrop-filter: blur(10px);
}

footer .list-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .list-items li {
    list-style: none;
}

footer .list-items a {
    text-decoration: none;
    color: black;
    transition: 0.25s;
    padding: 0 15px;
    font-weight: 500;
    font-size: 1rem;
}

footer .list-items a:hover {
    opacity: 0.75;
}

footer .copyright {
    font-size: 0.8rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 0px;
}

.copyright p {
    margin: 0;
    padding: 5px 0;
}

@media screen and (max-width: 700px) {
    footer {
        position: relative;
    }
}