.history-main {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.pages {
    margin-top: 25px;
    padding: 20px 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages .page {
    display: none;
}

.pages .page.active {
    display: block;
}

.history-main .page {
    padding: 30px 0px;
    margin: 0;
    width: 80%;
    height: 100%;
    display: none;
}

.tabs {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.tabs .tab {
    display: block;
}

.tabs .tab a[data-switcher] {
    display: block;
    padding: 10px 20px;
    width: 200px;
    text-decoration: none;
    color: #FFF;
    background-color: #031927;
    cursor: pointer;
    text-align: center;
}

.tabs .tab:hover a[data-switcher] {
    background-color: #e29b00;
}

.tabs .tab.active a[data-switcher] {
    background-color: #e29b00;
    font-weight: 700;
}

.history-main .pages .card-history {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
    padding: 20px 30px;
    margin-bottom: 15px;
    background: transparent;
    border: 1px solid lightgray;
    border-radius: 2px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.history-title {
    color: #F0A202;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

/* INFORMATIONS ENTREPRISE */

.card-history .company-informations {
    padding: 0;
    margin: 0;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.card-history .company-informations p {
    padding: 0 20px;
    text-align: center;
    position: relative;
    margin: 0;
}

.card-history .company-informations p.company-name {
    font-weight: bold;
}

.company-status {
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
    width: 25%;
    align-self: center;
}

.company-status ion-icon {
    padding-right: 5px;
}

.icon-status {
    margin: 0;
    padding: 0;
}

.company-status ion-icon {
    color: red;
    position: relative;
    left: 0;
    top: 5px;
    font-size: 1.5rem;
}

.card-history .company-informations ion-icon {
    position: absolute;
    left: 0;
    top: 4px;
}

/* DESCRIPTION ENTREPRISE */

.card-history .company-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0 20px;
    height: 100%;
    margin: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

/* BOUTONS ENTREPRISE */

.card-history .company-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}

.card-history .company-buttons .trash-btn {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    border: none;
    background: none;
}

.card-history .company-buttons .trash-btn:hover {
    background: rgba(251,81,81,1);
    transition: 0.25s ease-out;
}

.card-history .company-buttons .trash-btn ion-icon {
    left: -1.75px;
    bottom: -1.75px;
    font-size: 2.5rem;
    border: 2px solid rgba(251,81,81,1);
    border-radius: 50%;
    color: rgba(251,81,81,1);
    position: absolute;
    cursor: pointer;
}

.card-history .company-buttons button ion-icon:hover {
    color: white;
}

.details-btn {
    display: none;
}

footer {
    position: relative !important;
}

@media screen and (max-width: 900px) {
    .card-history .company-description {
        width: 100%;
        border: none;
        margin: 5px 0;
        text-align: justify;
        padding: 0;
    }

    .card-history .company-informations {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .card-history {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 645px) {
    .card-history {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .company-buttons {
        margin-top: 10px;
        width: 100%;
    }

    .card-history .company-buttons .trash-btn {
        width: 40px;
        height: 40px;
    }

    .card-history .company-buttons .trash-btn ion-icon {
        font-size: 2.25rem;
        top: 0px;
        left: 0px;
        text-align: center;
    }
}
