.nav-bar {
    border-bottom: none !important;
}

a {
    color: white!important;
}

.nav-login-btn {
    color: black !important;
}

.nav-login-btn:hover {
    color: white !important;
}

footer {
    color: white !important;
}

body {
    background-image: radial-gradient(rgba(50, 50, 50, 0.25), rgba(0, 0, 0, 0.75)), url("../img/batinfo.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.landing-page {
    height: 90vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.landing-title > h1 {
    text-align: center;
    font-weight: 200;
}

.carousel-container > .carousel-card {
    width: 350px;
    height: 100%;
    background: #ee0979;
    /* background: linear-gradient(to right, rgb(255, 135, 49), rgb(255, 49, 148)); */
    background: linear-gradient(45deg,#fd267a,#ff6036);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: none;
    color: white;
    font-size: 1.25rem;
    padding: 10px;
    font-weight: 600;
}

.carousel-card > .card-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 15px;
    font-size: 1.1rem;
}

.carousel-card > .card-items > h2 {
    padding-top: 15px;
}

.carousel-card > .card-items > .explaination {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-card .card-register {
    background: blue;
    border-radius: 5px;
    width: 200px;
    height: 2rem;
    color: white;
    padding: 7.5px 10px;
}

.carousel-container {
    width: 400px;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden
}

.carousel-card.active {
    display: block;
    animation: slide 0.8s;
}

@keyframes slide {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 800px) {
    footer {
        background: darkslategray;
        position: relative;
        padding-top: 10px;
    }
}

@media screen and (max-width: 450px) {
    .carousel-container {
        width: 80%;
    }
    .carousel-container .carousel-card {
        width: 100%;
    }
    .landing-title > h1 {
        font-size: 1.25rem;
        text-align: center;
    }
    footer {
        background-color: darkslategray;
    }
}

.carousel-buttons {
    display: flex;
    justify-content: space-between;
    width: 175px;
    padding: 15px 0;
    margin: 0 50px;
}

.carousel-buttons .btn-nav {
    display: flex;
    background: orange;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.25s;
}

.carousel-buttons .btn-nav:hover {
    background: rgb(255, 185, 54);
    transition: 0.25s;
}

.carousel-buttons > .btn-nav > .icon {
    font-size: 1.5rem;
}

@media screen and (max-width: 450px) {
    .carousel-card {
        width: 50%;
    }
}