@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 10px;
    border-bottom: 1px solid white;
    position: relative;
    z-index: 100;
}

.navigation-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.navbar-logo img {
    width: 50px;
    height: 50px;
}

.navbar-logo {
    font-size: 1.25rem;
}

.navbar-toggler {
    display: none;
}

.navigation-list {
    width: auto;
    padding-right: 25px;
}

.navigation-list > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navigation-list > ul > li {
    list-style: none;
    padding: 0 10px;
}

.navigation-list > ul > li > a {
    text-decoration: none;
    color: black;
    position: relative;
}

.navigation-list > ul > li > a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    border-radius: 4px;
    background-color: orange;
    bottom: 0;
    left: 0;
    padding-top: 1px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.navigation-list > ul > li > a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.nav-login-btn {
    padding: 10px 20px !important;
    background: #F0A202;
    text-transform: uppercase;
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
    position: relative;
    top: 6px;
    transition: 0.25s;
}

.nav-login-btn:hover {
    text-decoration: none;
    color: white;
    transition: 0.25s;
}

@media screen and (max-width: 768px){
    .navbar-logo {
        margin-left: 20px;
    }

    .navigation-all {
        display: flex;
        flex-direction: column;
        background: darkslategray;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 63px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .navigation-list {
        width: 100%;
        padding: 0;
    }

    .navigation-list ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .nav-bar {
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .nav-bar.active {
        background: darkslategrey;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .navigation-list li a {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: inline-block;
        color: white !important;
    }

    .navigation-list li {
        width: 100%;
        text-align: center;
    }

    .navigation-list li:hover {
        background-color: orange;
        color: white;
        transition: all 0.4s ease-out;
    }

    .navigation-all.active {
        background: darkslategray;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .navbar-toggler {
        display: inline;
    }
}
