.main-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 79.5vh;
    width: 100%;
}

.title {
    color: #F0A202;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

.history-button {
    padding: 5px 10px;
    margin: 10px 0 0 0;
    cursor: pointer;
    border: none;
    background: rgba();
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    padding: 1rem 0;
    margin: 0;
}

.list-info-profile {
    font-weight: bold;
    font-size: 1.25rem;
}

li {
    list-style-type: none;
}

.profile-form {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-form > p {
    margin: 0;
    text-align: center;
    padding: 10px;
}

.grid-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.skills-label {
    background: transparent;
    width: 150px;
    color: black;
    font-size: 1.25rem;
    font-weight: 200;
    padding: 15px 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: 0.25s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.skills-label:hover, .skills-button:checked {
    background-color: orange;
}

.skills-button:checked + label{
    background-color: #F0A202;
    color: black;
    transition: 0.25s;
}

.deconnect-btn {
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid rgba(251,81,81,1);
    color: rgba(251,81,81,1);
    margin-top: 15px;
    text-decoration: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 10px 0px;
    transition: 0.25s;
}

.deconnect-btn:hover {
    color: white;
    background-color: rgba(251,81,81,1);
    text-decoration: none;
    transition: 0.25s;
}

.submit-btn {
    padding: 10px 15px;
    background-color: rgb(144, 238, 144);
    border: none;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 10px 0px;
    margin: 30px 0 15px 0;
    transition: 0.25s;
}

.submit-btn i {
    padding-right: 5px;
}

.submit-btn:hover {
    background-color: rgb(122, 231, 122);
    transition: 0.25s;
}

@media screen and (max-width: 545px){
    .grid-skills {
        width: 100%;
    }

    .profile-main {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    footer {
        margin-top: 100px;
    }
}