body {
    height: 100vh;
}

#main {
    height: 90%;
}

input {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgba(221, 221, 221, 0.75);
    padding: 5px 10px;
    height: 45px;
}

input:focus {
    outline: blue 1px solid;
}

.register-land {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-btn {
    width: 150px;
    border: 2px solid blue;
    border-radius: 50px;
    background: none;
    padding: 5px 10px;
    height: 45px;
    transition: 0.25s;
    color: blue;
    cursor: pointer;
}

.register-btn:hover {
    background: blue;
    color: white;
}
.formulaire {
    width: 50%;
}

.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.formulaire label {
    margin-bottom: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons a {
    color: rgba(0, 0, 0, 1);
    font-weight: 300;
    transition: 0.25s;
    text-decoration: none;
}

.buttons a:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.buttons p {
    margin: 5px 0 0 0;
    padding: 0;
}

@media screen and (max-width: 800px) {
    footer {
        bottom: 0 !important;
        margin-top: 20px;
    }    
}
