
@import url("W3.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --light-grey:#ececec;
    --dark-grey:#acacac;
    --green:#4CAF50;
    --red:#FF5252;
    --black-transparent:rgba(0,0,0, 0.8);
  
    --transition-time:.4s;
  }

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .profile__description{
    scrollbar-width: thin;
    scrollbar-color: #eeeeec #acacac;
  }

  /* Chrome, Edge, and Safari */
  .profile__description::-webkit-scrollbar {
    width: 18px;
  }

  .profile__description::-webkit-scrollbar-track {
    background:#acacac;
  }

  .profile__description::-webkit-scrollbar-thumb {
    background-color: #eeeeec;
    border-radius: 10px;
    border: 3px solid #acacac;
  }
/* ===================== */
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .boxcard {
    width: 280px;
    margin: 3% 0 0 0;
  }
  
  img {
    max-width: 100%;
  }
  
  .profiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    height: 450px;
  }

  .profiles .refresh {
    align-self: center;
    margin-bottom: 150px;
  }
  
  .profile {
    position: absolute;
    /* height: 420px;
    width: 280px; */
    left:0px;
    top:0px;
    width:100%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: none;
    cursor:pointer;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
  
  .profiles::before {
    content:'Plus rien à matcher...';
    color:var(--dark-grey);
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
  }
  
  .profile__image {
    height: 0;
    padding-bottom:150%;
    background-size: cover;
    background-position: center center;
    /* height: 285px;
    width: 280px; */
    background: #ee0979;
    color: #131313;
    align-items: center;
    text-align: center;
    letter-spacing: .15em;
    text-shadow: 4px 4px 2px #ee0979;
    /* background: linear-gradient(to right, rgb(255, 135, 49), rgb(255, 49, 148)); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 2rem;
    font-size-adjust: auto;
  }
  
  .profile__infos {
    padding:12px;
    /* height: 159px;
    width: 280px; */
    position:absolute;
    bottom:0px;
    background: linear-gradient(15deg, #00000069, #676565AA);
    width: 100%;
  }
  
  .profile__name {
    /* color:white;  
    font-weight: bold;
    font-size:22px;
    background-color: #E5E5E5;
    padding-left: 10px;
    max-height: 35px; 
    overflow: hidden;*/
    max-height: 0px; 
    visibility: hidden;

  }
  
  .profile__description {
    color:white;
    font-size: 15px;
    max-height: 150px;
    overflow-y: auto;
    text-align: justify;
  }
  
  
  .bottombar {
    margin:5%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:24px;
  }
  
  .bottombar__button {
    width: 64px;
    height: 64px;
    border-radius:100%;
    background:white; 
    padding:16px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.4s;
  }
  
  .bottombar__button:hover {
    cursor:pointer;
    opacity:0.8;
  }

  .boutonchoix {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    padding: auto;
    transform: translateX(-16px) translateY(-16px);
    border: none;
    cursor: pointer;
  }
  
  .profile--match {
    transition: var(--transition-time);
    transform:translateX(1500px) translateY(600px) rotate(90deg);
    transition-duration: 2s;
  }
  
  .profile--next {
    transition: var(--transition-time);
    transform:translateX(-1500px) translateY(600px) rotate(-90deg);
    transition-duration: 2s;
  }
  
  .profile--back {
    transition:var(--transition-time);
    transition-duration: 2s;
  }
  
  .profile--matching::after{
    content:'MATCH';
    font-weight: bold;
    font-size:28px;
    padding:8px 12px;
    border:solid 2px var(--green);
    color:var(--green);
    background:var(--black-transparent);
    position:absolute;
    top:24px;
    left:12px;
    border-radius: 4px;
    transform:rotate(24deg);
  } 
  
  .profile--nexting::after {
    content:'NEXT';
    font-weight: bold;
    font-size:28px;
    padding:8px 12px;
    border:solid 2px var(--red);
    color:var(--red);
    background:var(--black-transparent);
    position:absolute;
    top:24px;
    right:12px;
    border-radius: 4px;
    transform:rotate(24deg);
  }

  .declineimg {
    font-size: 64px;
    transform: translateX(-4px);
    color: red;
  }

  .matchimg {
    font-size: 55px;
    transform: translateX(0px) translateY(4px);
    color: rgb(105, 220, 158);
    text-shadow: 2px 1px black;
  }
  .navbar-brand{
    margin-right: 2rem;
  }

  .home {
    height: 100%;
  }

  @media screen and (max-width: 400px) {
    section {
      overflow: hidden;
    }
  }
